@page "/signIn"

@using Wasted.Data
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject RegistrationService RegistrationService
@inject NavigationManager NavigationManager

@namespace Wasted
<style>
    @@import "css/Utils.css"
</style>
<div class="container">
    <div class = "flex paragraphBlock" style="width:50%">
        <div >
            <h1 class="tac">Sign in</h1>
            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
            <form method="post" action="submitscrip.php" target="dummyframe">
            <div> 
                <input class="form-control tac regField" type="email" placeholder="Email" @bind="@SignInEmailBox"/>
                <input class="form-control tac regField" type="password" placeholder="Password" @bind="@SignInPasswordBox"/>
            </div>
            <div>
                <button class="buttonSub" @onclick="SignInSubmitPressed">Submit</button>
            </div>
            </form>
        </div>
        <div id = "vertically-aligned-block">
            @if(ErrorMessages.Any())
            {
                <ul  class="list-style-type: none">
                @foreach(string message in ErrorMessages)
                {
                        @message
                        <br>
                }
                </ul>
            }
        </div>
    </div>
</div>
@code
{
    static List<User> users = new List<User>();
    static string SignInEmailBox ; 
    static string SignInPasswordBox ;
    public bool signInSuccess = false;
    public static List<string> ErrorMessages = new List<string>();

    public async Task SignInSubmitPressed()
    {
        ErrorMessages.Clear();
        users = await RegistrationService.GetUserList();
        signInSuccess = RegistrationService.CheckSignIn(SignInEmailBox, SignInPasswordBox, users);
        if(signInSuccess)
        {
            ((CustomAuthStateProvider)AuthenticationStateProvider).markUserAsAuthenticated(SignInEmailBox, RegistrationService.GetRole(SignInEmailBox, users));
            SignInEmailBox = "";
            SignInPasswordBox = "";
            NavigationManager.NavigateTo("/");
        }
        else
        {
            SignInEmailBox = "";
            SignInPasswordBox = "";
            ErrorMessages.Add("Sign in failed");
            ErrorMessages.Add("Please, make sure you enter correct email and password");
        }
    }
}