@inherits LayoutComponentBase
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Wasted.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject RegistrationService RegistrationService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <div class="top-row px-4">
                    <Authorized>
                            <div class="float-left height:42px">
                                <h5 class="nav-link btn">Hello, @RegistrationService.getName(RegistrationService.CreateUserList(), @context.User.Identity.Name)!</h5>
                            </div>
                            <div class="float-right">
                                <button type="submit" class="nav-link btn btn-link" @onclick="LogOut">Log out</button>
                            </div> 
                    </Authorized>
            </div>
        </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private void LogOut()
    {
        ((CustomAuthStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }
}
