@page "/"
<div>
  <h1 class="tac">
    <i>WASTED!</i>
  </h1>
  <style>
    @@import "css/Utils.css";

  </style>
  <div class="width: 30% float-right margin-top:10%">
    <div class="c30 float-right ">
      <img src="images/myimg.png" alt="earth" class="image">
    </div>
    
    <div>
      <br><br>
      <h2 class="h2padding">
        <i>Welcome to our app! Taking little steps in our own household, let's reduce food waste around the world!</i>
      </h2>
    </div>
  </div>

  <div class="d">
    <br>
    <div class="paragraphBlock">
      <h2>The problem of food waste</h2>
      <p1>America wastes roughly 40 percent of its food. Of the estimated 125 to 160 billion pounds of food that goes to waste every year, much of it is perfectly edible and nutritious. Food is lost or wasted for a variety of reasons: bad weather, processing problems, overproduction and unstable markets cause food loss long before it arrives in a grocery store, while overbuying, poor planning and confusion over labels and safety contribute to food waste at stores and in homes. Food waste also has a staggering price tag, costing this country approximately $218 billion per year. Uneaten food also puts unneeded strain on the environment by wasting valuable resources like water and farmland. At a time when 12 percent of American households are food insecure, reducing food waste by just 15 percent could provide enough sustenance to feed more than 25 million people, annually.</p1>
    </div>
    <br>
    <div class="paragraphBlock">
      <h2>Main causes of food waste</h2>
      <p1 >Common causes of food waste in restaurants include overbuying, overproduction, and spoilage. Overbuying is often a result of inadequate forecasting of consumer demand and the large quantities of food that restaurants typically need to purchase at one time.<br>We aim to help you solve those problems and we hope our app will help!</p1>
    </div>
    <br>
    <div class="paragraphBlock">
      <h2>We believe that:</h2>
      <p1>
        <ul>
          <li>
            Taking little steps towards more sustainable living makes a lasting change
          </li>
          <li>
            Minimising food waste should be enjoyable and compatible with anybody’s lifestyle 
          </li> 
        </ul>
      </p1>
    </div>
  </div>

  <br>

  <div class="tac">
  <h2 class="tac">
    <i>Wasted </i>will help you to:
  </h2> 
  <br>
  </div>
  <div>

    <div class="content-box">
      <div style="margin:2px">
        <div class="tac">
          <p1 style="color:white"class="tac margin-top:5px">Determine your shopping list according your and your family’s needs</p1>
        </div>
        <div>
          <img src="images/list.png"/>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="margin:2px">
        <div class="tac">
          <p1 style="color:white"class="tac margin-top:10px">  Keep track of products in your pantry</p1>
        </div>
        <div>
          <br><br>
          <img src="images/pen.png"/>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="margin:2px">
        <div class="tac">
          <p1 style="color:white"class="tac margin-top:5px">Enjoy food planning to its fullest whilst saving your time, nerves and last, but not least - our planet!</p1>
        </div>
        <div>
          <img src="images/clock.png"/>
        </div>
      </div>
    </div>  

 </div>
 <br>
 <div class="paragraphBlock tac">
    <h2>
      Become a member of <i>Wasted</i> family and take advantage of the features that we offer!
    </h2>
  </div>
  <br><br>
</div>
