@page "/recipecalc"

<h1><font color=rbg(0,15,128)><br>RECIPE CALCULATOR</font></h1>

<p style="font-size:20px;">Reduce food waste by using leftover products!</p>

<p style="font-size:20px;">Using this page you will be able to enter (or upload) the produce, and we will provide you with endless recipes, where you can use them!</p>
<hr><hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><font color=rbg(24,28,92)><br>font1</font></h3>

<h3><font color="#3a0647"><br>font2</font></h3>

<h3><font color="purple"><br>font3<br></font></h3>
