
div{
    text-align: center;
    margin: 50px 25px;
}
.regField
{
    border-radius: 20px;
    font-size: 20 px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

#one {
    float:left; 
    margin-right:10px;
    margin-left: 5px;
    width:50%;
    border-right:2px ;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, #d5a5df 70%);
    border-top:5px ;
    border-radius: 15px;
    padding-top: 10px;
  }

  .userField
  {
    width: 100%;
    margin-top: 20px;
    float:left;
    clear: left;
  }

  #vertically-aligned-block
  {
    float:left; 
    margin-right:10px;
    margin-left: 5px;
    width:50%;
    border-right:2px ;
    border-top:5px ;
    border-radius: 15px;
    padding-top: 10px;
  }