.registrationMessage
{
    list-style: none;
    font-size: 24px;
    color:rgb(172, 46, 214);
    margin-top: 20px;
}
div{
    text-align: center;
    margin: 50px 25px;
}
.regField
{
    border-radius: 20px;
    width: 50%;
    font-size: 20 px;
    margin-top: 30px;
    margin-bottom: 10px;

}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }