button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.learnmore{
	width: 100%;
	padding: 10px;
	border: none;
	background: rgb(73, 3, 90);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}