@page "/tips"

<h1><font color=rbg(0,15,128)><br>TIPS</font></h1>

<p style="font-size:20px;">The best way to predict the future is to create it!</p>
<hr><hr>
<h2><font color=rbg(24,28,92)><br>Shop Smart</font></h2>
<p1 style="font-size:20px;">To avoid buying more food than you need, make frequent trips to the grocery store every few days rather than doing a bulk shopping trip once a week.</p1>

<h2><font color="#3a0647"><br>Store Food Correctly</font></h2>
<p1 style="font-size:20px;">Separating foods that produce more ethylene gas from those that don’t is another great way to reduce food spoilage. Ethylene promotes ripening in foods and could lead to spoilage.</p1>

<h3><font color="purple"><br>Learn to Preserve<br></font></h3>
<p1 style="font-size:20px;">Pickling, drying, canning, fermenting, freezing and curing are all methods you can use to make food last longer, thus reducing waste.</p1>