@page "/tips"
@using System.IO

<h1><font color=rbg(0,15,128)><br>TIPS</font>

<button>
	<i class="btn btn-outline-success" @onclick="ReadList"></i>
	✓
</button>
</h1>


<p style="font-size:20px;">The best way to predict the future is to create it!</p>
<hr><hr>

<h2><font color=rbg(24,28,92)><br>Shop Smart</font></h2>

<button>
	<i class="btn btn-outline-success" @onclick="likeTipOne"></i>
	LIKE
	@likeOne
</button>

<button>
	<i class="btn btn-outline-danger" @onclick="dislikeTipOne"></i>
	DISLIKE
	@dislikeOne
</button>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeOne%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">To avoid buying more food than you need, make frequent trips to the grocery store every few days rather than doing a bulk shopping trip once a week.</p>

<button class="learnmore" onclick=" window.open('https://en.wikipedia.org/wiki/Smart_shop','_blank');">
	I want to learn more
</button>

<h2><font color="#3a0647"><br>Store Food Correctly</font></h2>

<button>
	<i class="btn btn-outline-success" @onclick="likeTipTwo"></i>
	LIKE
	@likeTwo
</button>

<button>
	<i class="btn btn-outline-danger" @onclick="dislikeTipTwo"></i>
	DISLIKE
	@dislikeTwo
</button>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeTwo%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">Separating foods that produce more ethylene gas from those that don’t is another great way to reduce food spoilage. Ethylene promotes ripening in foods and could lead to spoilage.</p>

<button class="learnmore" onclick=" window.open('https://www.betterhealth.vic.gov.au/health/healthyliving/food-safety-and-storage','_blank');">
	I want to learn more
</button>


<h3><font color="purple"><br>Learn to Preserve<br></font></h3>

<button>
	<i class="btn btn-outline-success" @onclick="likeTipThree"></i>
	LIKE
	@likeThree
</button>

<button>
	<i class="btn btn-outline-danger" @onclick="dislikeTipThree"></i>
	DISLIKE
	@dislikeThree
</button>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeThree%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">Pickling, drying, canning, fermenting, freezing and curing are all methods you can use to make food last longer, thus reducing waste.</p>

<button class="learnmore" onclick=" window.open('https://www.masterclass.com/articles/a-guide-to-home-food-preservation-how-to-pickle-can-ferment-dry-and-preserve-at-home','_blank');">
	I want to learn more
</button>

@code {
    private int likeOne = 0;
	private int dislikeOne = 0;
	private int likeTwo = 0;
	private int dislikeTwo = 0;
	private int likeThree = 0;
	List<LikeDislikeModel> likes = new();

	private void ReadList()
		{
			using (TextReader reader = File.OpenText("LikeDislikeList.txt"))
			{
			likeOne = int.Parse(reader.ReadLine());
			dislikeOne = int.Parse(reader.ReadLine());
			likeTwo = int.Parse(reader.ReadLine());
			dislikeTwo = int.Parse(reader.ReadLine());
			likeThree = int.Parse(reader.ReadLine());
			dislikeThree = int.Parse(reader.ReadLine());
			}
		}

    private void likeTipOne()
    {
        likeOne++;
    }

    private void dislikeTipOne()
    {
        dislikeOne++;
    }	

    private void likeTipTwo()
    {
        likeTwo++;
    }

    private void dislikeTipTwo()
    {
        dislikeTwo++;
    }
	
    private void likeTipThree()
    {
        likeThree++;
    }
	private int dislikeThree = 0;

    private void dislikeTipThree()
    {
        dislikeThree++;
    }

	
}