button.learnmore{
	width: 100%;
	padding: 10px;
	border: none;
	background: rgb(73, 3, 90);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	color: rgb(248, 248, 248);
	letter-spacing: 1px;
}

.fa {
	cursor: pointer;
	user-select: none;
	width: 43px;
	height: 43px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(97, 12, 71);
	background-color: rgba(51, 12, 87, 0.3);
	border-color: rgb(2, 7, 71);
	border-width: 1px;
	font-size: 29px;
  }

.remove {
	float: right;
	cursor: pointer;
	user-select: none;
	width: 43px;
	height: 43px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(97, 0, 0);
	background-color: rgba(255, 0, 0, 0.3);
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	font-size: 29px;

}
  
.fa:hover {
	color: darkblue;
}

#itemfieldid{
    margin-right: 300px;
}

.textField
{
    border-radius: 20px;
    font-size: 20 px;
    margin-top: 30px;
    margin-bottom: 10px;
	text-align: center;
}

.progress {
	color:rgb(115, 177, 17);
	border-color: rgb(2, 7, 71);
	background-color: rgba(51, 12, 87, 0.3);
}

