@page "/tips"
@using System.IO
@using Wasted.Data
@inject TipsService TipsService

<h1><font color=rbg(0,15,128)><br>TIPS</font>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i class="fa fa-check" @onclick="ReadList"></i>

</h1>

<p style="font-size:20px;">The best way to predict the future is to create it!</p>
<hr><hr>

<h2><font color=rbg(24,28,92)><br>Shop Smart</font>

<i @onclick="likeTipOne" class="fa fa-thumbs-up">
    @likeOne
</i>

<i @onclick="dislikeTipOne" class="fa fa-thumbs-down">
	@dislikeOne
</i>

</h2>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeOne%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">To avoid buying more food than you need, make frequent trips to the grocery store every few days rather than doing a bulk shopping trip once a week.</p>

<button class="learnmore" onclick=" window.open('https://en.wikipedia.org/wiki/Smart_shop','_blank');">
	I want to learn more
</button>

<h2><font color="#3a0647"><br>Store Food Correctly</font>

<i @onclick="likeTipTwo" class="fa fa-thumbs-up">
	@likeTwo
</i>

<i @onclick="dislikeTipTwo" class="fa fa-thumbs-down">
	@dislikeTwo
</i>

</h2>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeTwo%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">Separating foods that produce more ethylene gas from those that don’t is another great way to reduce food spoilage. Ethylene promotes ripening in foods and could lead to spoilage.</p>

<button class="learnmore" onclick=" window.open('https://www.betterhealth.vic.gov.au/health/healthyliving/food-safety-and-storage','_blank');">
	I want to learn more
</button>


<h3><font color="purple"><br>Learn to Preserve</font>

<i @onclick="likeTipThree" class="fa fa-thumbs-up">
	@likeThree
</i>

<i @onclick="dislikeTipThree" class="fa fa-thumbs-down">
	@dislikeThree
</i>

</h3>

<br> 

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:@likeThree%">
    <span class="sr-only">Complete</span>
  </div>
</div>

<br>

<p style="font-size:20px;">Pickling, drying, canning, fermenting, freezing and curing are all methods you can use to make food last longer, thus reducing waste.</p>

<button class="learnmore" onclick=" window.open('https://www.masterclass.com/articles/a-guide-to-home-food-preservation-how-to-pickle-can-ferment-dry-and-preserve-at-home','_blank');">
	I want to learn more
</button>

@code {
	private List<TipsModel> allTips;
    public string Filter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        allTips = await TipsService.GetTips();
    }

	int ClickCount = 0;
	int ClickCountTwo = 0;
	int ClickCountThree = 0;
    private int likeOne = 0;
	private int dislikeOne = 0;
	private int likeTwo = 0;
	private int dislikeTwo = 0;
	private int likeThree = 0;
	private int dislikeThree = 0;

	private void ReadList()
	{
		using (TextReader reader = File.OpenText("Likes.txt"))
		{
			likeOne = int.Parse(reader.ReadLine());
			dislikeOne = int.Parse(reader.ReadLine());
			likeTwo = int.Parse(reader.ReadLine());
			dislikeTwo = int.Parse(reader.ReadLine());
			likeThree = int.Parse(reader.ReadLine());
			dislikeThree = int.Parse(reader.ReadLine());
		}
	}

	private void likeTipOne()
    {
		int clickLimit = 1; 
		if (ClickCount < clickLimit)
		{
			ClickCount++;
			likeOne++;
		}
		else
		{
			if (likeOne != 0)
			{
			likeOne--;
			ClickCount--;
			}
		}
    }

    private void dislikeTipOne()
     {
		int clickLimit = 1; 
		if (ClickCount < clickLimit)
		{
			ClickCount++;
			dislikeOne++;
		}
		else
		{
			if (dislikeOne != 0){
			dislikeOne--;
			ClickCount--;
			}	
		}
    }	

    private void likeTipTwo()
     {
		int clickLimit = 1; 
		if (ClickCountTwo < clickLimit)
		{
			ClickCountTwo++;
			likeTwo++;
		}
		else
		{
			if (likeTwo != 0){
			likeTwo--;
			ClickCountTwo--;
			}	
		}
    }	

    private void dislikeTipTwo()
    {
		int clickLimit = 1; 
		if (ClickCountTwo < clickLimit)
		{
			ClickCountTwo++;
			dislikeTwo++;
		}
		else
		{
			if (dislikeTwo != 0){
			dislikeTwo--;
			ClickCountTwo--;
			}	
		}
    }	
	
    private void likeTipThree()
    {
		int clickLimit = 1; 
		if (ClickCountThree < clickLimit)
		{
			ClickCountThree++;
			likeThree++;
		}
		else
		{
			if (likeThree != 0){
			likeThree--;
			ClickCountThree--;
			}	
		}
    }	

    private void dislikeTipThree()
    {
		int clickLimit = 1; 
		if (ClickCountThree < clickLimit)
		{
			ClickCountThree++;
			dislikeThree++;
		}
		else
		{
			if (dislikeThree != 0){
			dislikeThree--;
			ClickCountThree--;
			}	
		}
    }	
}