@page "/"

<h1>WASTED!</h1>

<p>Welcome to our new app, where we will try to help users reduce the amount of food they waste.</p>
<hr><hr>
<h2><font color=rbg(24,28,92)><br>The problem of food waste</font></h2>
<p1 style="font-size:20px;">America wastes roughly 40 percent of its food. Of the estimated 125 to 160 billion pounds of food that goes to waste every year, much of it is perfectly edible and nutritious. Food is lost or wasted for a variety of reasons: bad weather, processing problems, overproduction and unstable markets cause food loss long before it arrives in a grocery store, while overbuying, poor planning and confusion over labels and safety contribute to food waste at stores and in homes. Food waste also has a staggering price tag, costing this country approximately $218 billion per year. Uneaten food also puts unneeded strain on the environment by wasting valuable resources like water and farmland. At a time when 12 percent of American households are food insecure, reducing food waste by just 15 percent could provide enough sustenance to feed more than 25 million people, annually.</p1>

<h2><font color="#3a0647"><br>Main causes of food waste</font></h2>
<p1>Common causes of food waste in restaurants include overbuying, overproduction, and spoilage. Overbuying is often a result of inadequate forecasting of consumer demand and the large quantities of food that restaurants typically need to purchase at one time.<br><br>We aim to help you solve those problems and we hope our app will help!</p1>

<h3><font color="purple"><br>Our solutions:<br></font></h3>
<p2>•<br>•<br>•<br>•<br></p2>