
.tac {
    text-align: center;
    margin: auto;
}

.box-shape {
    border-radius:12px;
}
.buttonSub {
    border: 1;
    border-color: rgb(111, 110, 110);
    width:50%;
    font-size: large;
    color: white;
    padding: 1%;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    cursor:pointer;
    background-color: rgb(175, 39, 118)

}

.inline {
    display: inline-block; 
}
