
.tac {
    text-align: center;
    margin: auto;
}

.box-shape {
    border-radius:12px;
}
.buttonSub {
    border: 0;
    width:100%;
    font-size: large;
    padding: 1%;
    display: inline-block;
    border-radius: 10px;
    cursor:pointer;
    background-color: rgba(80, 59, 216, 0.644);

}

.inline {
    display: inline-block; 
}
